SUBSYSTEMS=="usb", KERNELS=="1-6.2", SYMLINK+="motors"
SUBSYSTEMS=="usb", KERNELS=="1-6.1", SYMLINK+="imu"
SUBSYSTEMS=="usb", KERNELS=="1-5.2", SYMLINK+="motors"
SUBSYSTEMS=="usb", KERNELS=="1-5.1", SYMLINK+="imu"

# Camera Rules
KERNEL=="video*", ATTRS{product}=="HD Pro Webcam C920",ATTR{index}=="0", SYMLINK+="camera", MODE="0777"
KERNEL=="video*", ATTRS{product}=="Dell Webcam WB5023",ATTR{index}=="0", SYMLINK+="camera", MODE="0777"
