# IMU Rules
KERNEL=="ttyUSB*",  ATTRS{serial}=="A6022L8Q" , SYMLINK+="imu", MODE="0777"

# Motors Rules
KERNEL=="ttyUSB*", ATTRS{serial}=="AI05A3SZ", SYMLINK+="motors", MODE="0777"
KERNEL=="ttyUSB*", ATTRS{serial}=="A50285BI", SYMLINK+="motors", MODE="0777"


# Camera Rules
KERNEL=="video*", ATTRS{product}=="HD Pro Webcam C920",ATTR{index}=="0", SYMLINK+="camera"
